<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
    
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body> 
        <div class="container"> 
            <br/> <br/> <br/>
            <f:view>
                <h:form> 
                    <div class="table-responsive col-lg-offset-2 col-lg-8"> 
                        <table class="table table-bordered table-hover" > 
                            <thead> 
                                <tr> 
                                    <td><b>Name</b></td> 
                                    <td><b>Sur-Name</b></td> 
                                    <td><b>Birth Year</b></td> 
                                    <td><b>Action</b></td> 
                                </tr>
                            </thead> 
                            
                            <tbody> 
                                <ui:repeat var="e" value="#{obj.employees}">
                                    <tr> 
                                        <td>#{e.name}</td> 
                                        <td>#{e.surname}</td> 
                                        <td>#{e.birthyear}</td> 
                                        <td><h:commandButton value="Select" action="#{obj.select(e)}"/></td> 
                                    </tr> 
                                </ui:repeat> 
                            </tbody> 
                        </table> 
                    </div> 
                    
                    <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
                    
                    <hr/>
                    <hr/>
                    <br/>
                    
                    <div class="table-responsive col-lg-offset-3 col-lg-6"> 
                        <table class="table table-hover table-bordered">
                            <tr class="info"> 
                                <td><b>Name</b></td> 
                                <td><h:inputText value="#{obj.selectedEmployee.name}"/></td> 
                            </tr> 

                            <tr class="info"> 
                                <td><b>Sur-name</b></td> 
                                <td><h:inputText value="#{obj.selectedEmployee.surname}"/></td> 
                            </tr> 

                            <tr class="info"> 
                                <td><b>Birth Year</b></td> 
                                <td><h:inputText value="#{obj.selectedEmployee.birthyear}"/></td> 
                            </tr> 
                            
                            <tr class="info"> 
                                <td><h:commandButton style="padding-left: 10px; margin-right: 20px" class="btn btn-primary btn-sm" value="Add" action="#{obj.add()}"/>
                                    <h:commandButton style="padding-left: 10px; margin-right: 10px" class="btn btn-primary btn-sm" value="Delete" action="#{obj.delete()}"/>
                                    <h:commandButton style="padding-left: 10px; margin-left: 10px" class="btn btn-primary btn-sm" value="Update" action="#{obj.update()}"/>
                                </td> 
                                <td></td> 
                            </tr> 
                        </table> 
                    </div> 
                </h:form> 
            </f:view> 
        </div> 
    </h:body> 
</html>

